<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bestilling</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div padding *ngIf="!isAuthenticated">
    Du skal være logget ind for at bestille varer.
  </div>

  <div padding *ngIf="showSuccess">
    <ion-icon name="alert"></ion-icon> <button (click)="goToAccount()">Gå til mine leveringer</button>
  </div>

  <div padding *ngIf="gettingOrderingOptions">
    Henter leveringsoplysninger...
  </div>

  <div padding *ngIf="errorGettingOrderingOptions">
    <span *ngIf="errorMessageGettingOrderingOptions.error.ErrorType === 'ProductNotAvaliableForPurchaseException'">
      <strong>{{errorMessageGettingOrderingOptions.error.Header}}</strong>
      {{errorMessageGettingOrderingOptions.error.Text}}
    </span>
  </div>

  <div *ngIf="creatingOrder">
    Vent...
  </div>

  <div padding *ngIf="error">
    <span *ngIf="errorMessage.error.ErrorType === 'OrderNotCreatedException'">
      <strong>{{errorMessage.error.Header}}</strong>
      {{errorMessage.error.Text}}
    </span>
  </div>

  <div *ngIf="isAuthenticated && details && !error">

    <ion-list>
      <ion-item class="list-item">
        <div class="list-image" item-start>
          <img-loader class="tile-image" src="{{details?.Image}}" useImg="true" spinner="false"></img-loader>
        </div>
        <h2 class="list-header">{{details?.Name}}</h2>
        <div class="list-subtitle">{{details?.SubTitle}}</div>
        <div class="list-price">{{details?.Price}}</div>
      </ion-item>
    </ion-list>

    <ion-list-header>Vælg hvor ofte</ion-list-header>
    <div padding>
      <span class="frequency" [ngClass]="{ 'selected': frequency.Number === selectedFrequency }" *ngFor="let frequency of options?.Frequency"
        (click)="setFrequency(frequency.Number)">
        {{frequency?.Name}}
      </span>
    </div>

    <ion-list-header>Vælg leveringsdato</ion-list-header>
    <div class="tile-grid">
      <div ion-grid no-padding>
        <div ion-row>
          <div ion-col col-6 *ngFor="let option of options?.Options">
            <button class="btn-order-date" [ngClass]="{ 'selected': selectedDeliveryDay === option.ShipmentDate }"
              (click)="setDeliveryDay(option.ShipmentDate)">
              <div class="btn-order-date__day" [ngClass]="{ 'selected': selectedDeliveryDay === option.ShipmentDate }">
                {{option.DayText}}</div>
              <div class="btn-order-date__date" [ngClass]="{ 'selected': selectedDeliveryDay === option.ShipmentDate }">
                {{option.DateText}}</div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div padding *ngIf="options?.Options.length === 0">
      Vi kunne desværre ikke finde nogen leveringsdage.
    </div>

    <div padding *ngIf="options?.Message" class="note">
      {{options.Message.Text}}
    </div>

  </div>

</ion-content>

<ion-footer *ngIf="!errorGettingOrderingOptions">
  <ion-toolbar color="action-bright">
    <button [disabled]="!selectedDeliveryDay" (click)="placeOrder()" class="details-cta">
      Bestil for {{details?.PriceDetail.NormalPrice}}
    </button>
  </ion-toolbar>
</ion-footer>