page-order {
    .frequency {
        font-size: 12px;
        text-align: center;
        padding: 1em;
        display: inline-block;
        border-radius: 3px;
        background-color: #fff;
        margin: 0 4px 1rem 4px;
        &.selected {
            background: #00884a;
            color: #fff;
        }
    }
    .note {
        color: grey;
        text-align: center;
    }
}
