<!--
  Generated template for the DetailsMealboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{details?.Name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content [ngStyle]="{'background-image': 'url(https://mobileapi.aarstiderne.com/v7/image/mealbox/background/lowcarbkassen/md)' }">

  <div class="error" *ngIf="error">{{ errorMessage | json }}</div>
  <div class="loading" *ngIf="loading">{{ 'loadingText' | translate }}</div>

  <div class="mealbox" *ngIf="details">

    <div class="mealbox__top">
      <h1 class="mealbox__header">{{details?.Name}}</h1>
      <p class="mealbox__short-description">{{details?.ShortDescription}}</p>
    </div>

    <div class="mealbox__bottom">
      <div class="mealbox__meta">
        <span>
          <ion-icon name="alert-outline" class="mealbox__meta-icon"></ion-icon>{{personsRangeAsString}} pers.
        </span>
        <span>
          <ion-icon name="alert-outline" class="mealbox__meta-icon"></ion-icon>{{daysRangeAsString}} dage
        </span>
        <span>
          <ion-icon name="alert-outline" class="mealbox__meta-icon"></ion-icon>{{details?.Preparation}}
        </span>
      </div>

      <div class="mealbox__menu">
        <ion-list-header class="mealbox__menu-header">Menu</ion-list-header>
        <!--<div class="mealbox__menu-slider">[Menuslider]</div>-->
        <div class="mealbox__menu-list">
          <ul>
            <li *ngFor="let recipe of details?.Recipes; let i = index">
              <span class="mealbox__menu-index">{{i + 1}}.</span>
              <span class="mealbox__menu-title">{{recipe.Name}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="mealbox__chef">
        <ion-list-header>
          <span *ngIf="details?.Chefs.length === 1">Kokken bag {{details?.Name}}</span>
          <span *ngIf="details?.Chefs.length > 1">Kokkene bag {{details?.Name}}</span>
        </ion-list-header>
        <div class="mealbox__chef-list">
          <ul>
            <li *ngFor="let chef of details?.Chefs" ion-item>
              <div class="mealbox__chef-image" item-start>
                <img-loader src="{{chef.Image}}" useImg="true" spinner="false"></img-loader>
              </div>
              <div class="mealbox__chef-name">{{chef.Name}}</div>
              <div class="mealbox__chef-title">{{chef.Title}}</div>
            </li>
          </ul>
        </div>
      </div>

      <div class="mealbox__description">
        <ion-list-header>Beskrivelse</ion-list-header>
        <div class="mealbox__description-text system-font" [innerHTML]="details?.Description"></div>
      </div>

      <ion-list *ngIf="ingredients?.length > 0">
        <ion-list-header>Indhold {{details?.WeekNumber}}</ion-list-header>
        <ion-item *ngFor="let ingredient of ingredients">
          <div class="system-font">{{ingredient.Amount}} {{ingredient.Name}}</div>
          <ion-icon name="ios-information-circle-outline" item-end (click)="showIngredientDetails(ingredient)"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="mealbox__cta">
    <div ion-item no-lines>
      <div>Pris fra</div>
      <div><span [innerHTML]="details?.PriceDetail.PriceFrom"></span> <span>{{details?.PriceDetail.PlatePrice}}</span></div>
      <button (click)="showConfigurator(details)" ion-button item-end small>Vælg</button>
    </div>
  </div>

</ion-content>