<!--
  Generated template for the RecipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Opskrift</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="error" *ngIf="error">{{ errorMessage | json }}</div>
  <div class="loading" *ngIf="loading">{{ 'loadingText' | translate }}</div>

  <div ion-list *ngIf="details">
    <div class="details-image">
      <img src="{{details?.ImageUri}}" />
      <h1 class="details-header">{{ details?.Name }}</h1>
    </div>

    <ion-list>
      <ion-list-header>{{ 'pageDetails.headerDescription' | translate }}</ion-list-header>
      <ion-item>
        <div class="details-description system-font">{{ details?.Description }}</div>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>Indkøbsliste</ion-list-header>
      <ion-item *ngFor="let ingredient of details.Ingredients" text-wrap>
        {{ ingredient.Amount }} {{ ingredient.Name }} <span *ngIf="ingredient.Note">({{ ingredient.Note }})</span>
      </ion-item>
    </ion-list>

  </div>

</ion-content>