// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.details {
    &-image {
        background-color: #fff;
        height: 200px;
        overflow: hidden;
        position: relative;
        img {
            transform: translateY(calc(100px - 50%)) translateX(-50%);
            position: relative;
            left: 50%;
        }
    }
    &-header {
        font-size: 20px;
        margin: 0;
        padding: $item-md-padding-left;
        background-color: rgba(255, 255, 255, .8);
        font-weight: normal;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        @at-root .platform-ios & {
            background-color: rgba(255, 255, 255, .3);
            backdrop-filter: blur(15px);
        }
    }
    &-description {
        white-space: pre-line;
    }
}
