<!--
  Generated template for the ExtrasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'tabTitleExtra' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content> 

  <div class="error" *ngIf="error">{{ errorMessage | json }}</div>
  <div class="loading" *ngIf="loading">{{ 'loadingText' | translate }}</div>

  <ion-list>
    <ion-item class="list-item" text-wrap *ngFor="let category of categories" (click)="showProducts(category)"> 
      <div class="list-image" item-start>
        <img class="tile-image" src="{{category.Image}}" />
      </div>
      <div class="list-name-large">{{category.Name}}</div>
      <div class="list-count" item-end>{{category.Products.length}}</div>
    </ion-item>
  </ion-list>

</ion-content>
