page-now {
    .tile-grid {
        background-color: transparent;
        margin: .5rem;
    }

    .tile {
        background-color: #fff;
        border: 1px solid $c-sand-border;
        padding: 1rem;
        font-size: 14px;
        margin: .5rem;
        height: calc(100% - 1rem);
        display: flex;
        flex-flow: column;
    
        &-image {
            flex: 1 0 auto;
            img  {
                min-width: 151px;
                min-height: 151px;
                display: block;
                height: auto;
                width: 440px;
                margin: 1rem auto;
            }
        }

        &-name {
            margin-top: 1em;
        }

        &-price {
            font-weight: 500;
            color: $c-theme-light;
        }
    }

}
