page-now {
    .tile-grid {
        background-color: transparent;
        margin: .5rem;
    }

    .tile {
        background-color: #fff;
        border: 1px solid #eaeaea;
        padding: 1rem;
        font-size: 15px;
        margin: .5rem;
        height: calc(100% - 1rem);
        display: flex;
        flex-flow: column;
    
        &-image {
            flex: 1 0 auto;
            img  {
                height: 120px;
                display: block;
                margin: 0 auto;
            }
        }

        &-name {
            margin-top: .5em;
        }

        &-price {
            font-weight: 500;
            color: $c-theme-light;
        }
    }

}
