page-now {
    .tile-grid {
        background-color: transparent;
        margin: .5rem;
    }

    .tile {
        background-color: #fff;
        border: 1px solid $c-sand-border;
        padding: 1rem;
        font-size: 14px;
        margin: .5rem;
        height: calc(100% - 1rem);
        display: flex;
        flex-flow: column;
    
        &-image {
            display: block;
            min-height: 150px; //calc(100vw - (7 * 1rem));
            flex: 1 0 auto;
            height: auto !important;
            //img {
            //    display: block;
            //    margin: 0 auto 1rem;
            //    min-height: 150px; //calc(100vw - (7 * 1rem));
            //}
        }

        &-name {
            margin-top: 1em;
        }

        &-price {
            font-weight: 500;
            color: $c-theme-light;
        }
    }

}
