<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left *ngIf="isAuthenticated">
      <button ion-button (click)="logout()">Log ud</button>
    </ion-buttons>
    <ion-title>{{ 'tabTitleAccount' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce>

  <div *ngIf="error">{{ errorMessage | json }}</div>

  <div *ngIf="isAuthenticated">

    <ion-list>
      <button ion-item (click)="getSettings()">Indstillinger</button>
    </ion-list>

    <div *ngIf="subscriptions?.length > 0">
      <p padding>Du har ikke nogen leveringer i de næste 5 uger, men du har følgende aktive abonnementer</p>
      <ion-list-header>Dine aktive abonnementer</ion-list-header>
      <ion-list>
        <ion-item class="list-item list-item--pushdown" text-wrap #item *ngFor="let subscription of subscriptions">
          <div class="list-image" item-start>
            <img class="tile-image" ng-src="subscription.Image" />
          </div>
          <h2 class="list-header">{{subscription.Title}}</h2>
          <div class="list-subtitle">{{subscription.PersonsDaysText}}</div>
          <div class="list-subtitle" text-lowercase>{{subscription.FrequencyText}}</div>
          <button ion-button color="danger" (click)="deleteLine(subscription.Id)">Fjern</button>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="groups?.length === 0" padding>
      Du har ingen bestillinger
    </div>

    <div *ngIf="groups?.length > 0">
      <ion-list-header>Dine kommende bestillinger</ion-list-header>
      <ion-list *ngFor="let group of groups">
        <ion-list-header>{{group.date | date }}</ion-list-header>
        <ion-item-sliding #item *ngFor="let line of group.lines">
          <ion-item class="list-item list-item--pushdown" *ngIf="!line.Fee" text-wrap>
            <div class="list-image" item-start>
              <img class="tile-image" src="{{line.ImageUri}}" />
            </div>
            <h2 class="list-header">{{line.Description}}</h2>
            <div class="list-subtitle">{{line.SubTitle}}</div>
            <div class="list-subtitle" text-lowercase>{{line.Amount}}</div>
            <div class="list-price">
              <span ng-class="" *ngIf="line.PriceDetail.DiscountPrice">{{line.PriceDetail.DiscountPrice}}</span>
              <span ng-class="{ 'before-price': line.PriceDetail.DiscountPct }">{{line.PriceDetail.NormalPrice}}</span>
            </div>
          </ion-item>
          <ion-item class="list-item" *ngIf="line.Fee">
            <div class="list-header">{{line.Description}}</div>
            <div class="list-price-not-positioned" item-end>{{line.LinePrice}}</div>
          </ion-item>
          <ion-item-options side="right" *ngIf="!line.IsReadOnly">
            <button ion-button color="danger" (click)="deleteLine(line)">Fjern</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>

  <div *ngIf="!isAuthenticated" text-center>
    <p>[BACKGROUND-VIDEO]</p>
    <p>[LOGO]</p>
    <p>Log ind for at se dine leveringer, opskrifter og indstillinger</p>
    <div>
      <button class="btn-custom" ion-button color="primary" (click)="presentLoginModal()">Log ind</button>
      <button class="btn-custom" ion-button color="action-bright">TODO: Opret dig som kunde</button>
    </div>
  </div>

  <div padding>
    <p>Build 0.1.0 (19)</p>
    <p>Culture from server: {{rootData?.d.Culture}}</p>
    <p>Device locale: {{deviceLocale}}</p>
    <p>Device language: {{deviceLanguage}}</p>
    <p>Device platform: {{devicePlatform}}</p>
    <p>Device has cordova: {{deviceHasCordova}}</p>
  </div>

</ion-content>