<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left *ngIf="isAuthenticated">
      <button ion-button (click)="logout()">Log ud</button>
    </ion-buttons>
    <ion-title>{{ 'tabTitleAccount' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce>

  <div *ngIf="error">{{ errorMessage | json }}</div>

  <div *ngIf="isAuthenticated">

    <ion-list>
      <button ion-item (click)="getSettings()">Indstillinger</button>
    </ion-list>

    <div *ngIf="lines?.length === 0" padding>
      Du har ingen bestillinger
    </div>

    <ion-list *ngFor="let group of groups">
      <ion-list-header>{{group.date | date }}</ion-list-header>
      <ion-item-sliding #item *ngFor="let line of group.lines">
        <ion-item class="list-item list-item--pushdown" *ngIf="!line.Fee" text-wrap>
          <div class="list-image" item-start>
            <img-loader class="tile-image" src="{{line.ImageUri}}" useImg="true" spinner="false"></img-loader>
          </div>
          <h2 class="list-header">{{line.Description}}</h2>
          <div class="list-subtitle">{{line.SubTitle}}</div>
          <div class="list-subtitle" text-lowercase>{{line.Amount}}</div>
          <div class="list-price">
            <span class="discount-price" *ngIf="line.PriceDetail.DiscountPrice">{{line.PriceDetail.DiscountPrice}}</span>
            <span class="price">{{line.PriceDetail.NormalPrice}}</span>
          </div>
        </ion-item>
        <ion-item class="list-item" *ngIf="line.Fee">
          <div class="list-header">{{line.Description}}</div>
          <div class="list-price-not-positioned" item-end>{{line.LinePrice}}</div>
        </ion-item>
        <ion-item-options side="right" *ngIf="!line.IsReadOnly">
          <button ion-button color="danger" (click)="deleteLine(line)">Fjern</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>

  <!-- <div>User isAuthenticated?: {{isAuthenticated}}</div>-->

  <div *ngIf="!isAuthenticated" text-center>
    <p>[BACKGROUND-VIDEO]</p>
    <p>[LOGO]</p>
    <p>Log ind for at se dine leveringer, opskrifter og indstillinger</p>
    <p>Build 0.0.5</p>
    <div>
      <button class="btn-custom" ion-button color="primary" (click)="presentLoginModal()">Log ind</button>
      <button class="btn-custom" ion-button color="action-bright">TODO: Opret dig som kunde</button>
    </div>
  </div>

</ion-content>