<!--
	Generated template for the DetailsPage page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{ 'tabTitleDetails' | translate }}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>

	<div class="error" *ngIf="error">{{ errorMessage | json }}</div>
	<div class="loading" *ngIf="loading">{{ 'loadingText' | translate }}</div>

	<div ion-list *ngIf="details">
		<div class="details-image">
			<img-loader src="{{details?.Image}}" useImg="true" spinner="false"></img-loader>
			<h1 class="details-header">{{ details?.Name }}</h1>
		</div>

		<ion-list>
			<ion-list-header>{{ 'pageDetails.headerDescription' | translate }}</ion-list-header>
			<ion-item>
				<div class="details-description system-font">{{ details?.Description }}</div>
			</ion-item>
		</ion-list>

		<ion-list *ngIf="ingredients?.length > 0">
			<ion-list-header>{{ 'pageDetails.headerContent' | translate }} {{details?.WeekNumber}}</ion-list-header>
			<ion-item *ngFor="let ingredient of ingredients">
				<div class="system-font">{{ingredient.Amount}} {{ingredient.Name}}</div>
				<ion-icon name="ios-information-circle-outline" item-end (click)="showIngredientDetails(ingredient)"></ion-icon>
			</ion-item>
		</ion-list>

		<!--<div>User auth: {{isAuthenticated}}</div>-->
	</div>

</ion-content>

<ion-footer>
	<ion-toolbar color="bg-cta">
		<button (click)="order(details)" class="details-cta">Videre til bestilling</button>
	</ion-toolbar>
</ion-footer>